* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  background-color: #bdd5d5;
  background-image: url("../images/background/texture.png");
}

.center {
  text-align: center;
}

.top-panel {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background-color: #cbf1f5;
  background-image: url("../images/background/art-top.jpg");
  background-position: center top;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 2rem;
}

.top-panel>* {
  position: relative;
}

.avatar>img {
  height: 200px;
  border-radius: 50%;
  backdrop-filter: blur(5px) brightness(0.95);
}

header>.title {
  font-size: 2em;
}

.two-part>* {
  display: inline-block;
  width: 50%;
}

.two-part>div:first-child {
  text-align: right;
  padding-right: .5em;
}

.two-part>div:last-child {
  text-align: left;
  padding-left: .5em;
}

.search-box input {
  background: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.search-box input[type=text] {
  box-sizing: border-box;
  width: 15rem;
  height: 3rem;
  padding: .5rem;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.search-box input[type=submit] {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: rgba(0, 255, 179, 0.6);
}

main {
  padding: 1em;
}

.art-container {
  display: block;
  position: relative;
  max-width: 30cm;
  margin-top: -2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: .5em;
  background-color: #ffffff;
  border-radius: .5em;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%)
}

.card {
  margin-bottom: 1rem;
  padding: .5rem;
  transition-duration: 0.5s;
  border-radius: 0.3em;
}

.card:hover {
  background-color: #f4f7f7;
}

.art-title {
  font-size: 1.3em;
  text-align: center;
}

.art-meta {
  text-align: center;
  color: grey;
  font-size: 1rem;
}

.art-meta>* {
  margin-left: 1em;
}

.art-outline {
  color: black;
}

.art-outline {
  text-indent: 2em;
}

.art-type {
  width: 10em;
}

.art-type::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("../images/art-type.png");
  background-size: 100% 100%;
}

.art-date:empty {
  display: none;
}

.art-date::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("../images/art-date.png");
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: #93b5cf;
}

a.license {
  color: blueviolet;
  font-weight: bold;
  text-decoration: underline white 2px;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.round {
  animation: round 3s ease-in-out infinite;
}

.no-select {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}